<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset='UTF-8'>
    <title>Register</title>
</head>

<body>
    <p>
        <h5>Register</h5>
        <form action="/welcome/" method="post">
            <h3>User Name</h3>
            <input name='username'>
            <h3>Password</h3>
            <input name='password'>
            <h3>Phone Number For Alerts</h3>
            <input name='phoneNumber'>
            <input type='Submit'>
            
            <button name="signupUser" type="submit">Sign Up</button>
    </p>
    
</body>